:root {
    --main-yellow: #FFBD12;
    --main-red: #F95A2C;
    --80plus-green: #00C6AE;
    --40plus-yellow: #eeb114;
    --40minus-gray: #969BAB;
    --main-white: #fff;
    --main-black: #000000;
    --main-grey: #474A57;
    --main-blue: #1947E5;
}

.messagesField {
    background-color: rgb(55, 82, 82);
    margin: 0 50px 0 50px;
}

.messagesField .messageBox {
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-top: none;
    border-bottom: 2px solid black;
    width: 100%;
    height: 98px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 0;
    overflow: hidden;
}

.messagesField .messageBox:nth-child(1) {
    border-top: 2px solid var(--main-black);
}

.messagesField .messageBox:hover {
    background-color: rgb(207, 207, 207);
}

.messagesField .messageBox .userIcon {
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
    border-radius: 50%;
    margin: 0 12px 0 24px;
    overflow: hidden;
    border: 2px solid var(--main-black);
}

.messagesField .messageBox .userIcon img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.messagesField .messageBox .usernameMessage {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 0;
    margin: 0;
    width: 88%;
}

.messagesField .messageBox .usernameMessage .username {
    margin: 0;
    font-size: 21px;
    font-weight: 800;
    line-height: 28px;
}

.messagesField .messageBox .usernameMessage .message {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: var(--main-grey);
}

.messagesField .messageBox .timeNotifications {
    height: 50px;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 24px 0 0;
}

.messagesField .messageBox .timeNotifications .time {
    margin: 0 0 18px 0;
    color: var(--40minus-gray);
    text-align: right;
    font-size: 11px;
    font-weight: 700;
}

.messagesField .messageBox .timeNotifications .notification {
    display: flex;
    width: 48px;
    padding: 0 4px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background-color: var(--main-red);
    color: var(--main-white);
    font-size: 12px;
    font-weight: 700;
}